
#no-reports mat-icon {
    margin-top: 3rem;
    transform: scale(2);
}

#no-reports p {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    overflow: hidden;
}

.one-card-impression {
    margin-right: 1rem;
    flex-basis: 30% !important;
}


