<div class="reviews-content">
    <p-carousel *ngIf="reviews?.length > 0; else noReviewsBlock" [value]="reviews" [numVisible]="2" [numScroll]="2" >
        <ng-template let-review (onPage)="setIndex($event)" pTemplate="item">
            <div style="margin-top: 3rem;">
                <app-review-row [review]="review" [numOfReviews]="reviews.length"></app-review-row>
            </div>
        </ng-template>
    </p-carousel>
    <ng-template #noReviewsBlock>
        <div id="no-reports" class="center-content">
            <div>
                <mat-icon>error_outline</mat-icon>
            </div>
            <p>There are no reviews for this user.</p>
        </div>
    </ng-template>
</div>