.form-container {
  padding: 2% 5%;
}

.colomn {
  margin-top: 1rem;
  margin-right: 2rem;
}

.data-colomn {
  margin-top: 1rem;
  margin-right: 2rem;
  max-width: 46.4%;
}

button {
  margin: 5%;
}

.email-container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  color: var(--deep-blue);
}

.email-container-picture {
  height: 2rem;
  width: 2rem;
  border-radius:50%;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
}
