
img.profile-img {
    margin-top: 2%;
    border-radius: 50%;
    width: 120px;
    max-height: 120px;
    height: auto;
    background-color: gray;
    border: 2px solid var(--deep-blue);
}

.img-hover:hover {
    border: 4px solid var(--deep-blue);
}

.image-wrap {
    width: 140px;
    height: 140px;
}

.picture-column {
    display: flex;
    flex-direction: column;
    flex-basis: 25% !important;
    flex: 1;
}

.not-rated {
    font-size: 1rem;
    font-weight: bold;
}

.basic-data-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.driver-flex {
    flex-basis: 40% !important;
}

.no-driver-flex {
    flex-basis: 75% !important;
}

.vehicle-column {
    display: flex;
    flex-direction: column;
    flex-basis: 35% !important;
    flex: 1;
}

.role-badge {
    font-size: 1.2rem;
    padding: 4px 8px;
    display: flex;
    border-radius: 20px;
}

.status {
    width: 1.2rem;
    height: 1.2rem;
}

.bottom-right {
    right: 30%;
    bottom: 0;
}