<div>
    <div class="row">
        <div class="picture-column center-content">
            <div class="image-wrap" style="position: relative;">
                <img 
                [class]="currentUserIsLogged ? 'profile-img center-content img-hover' : 'profile-img center-content'" 
                (click)="showChangePhotoDialog()" 
                [src]="configService.BASE64_PHOTO_PREFIX + user?.profilePicture" 
                alt="User's photo">
            </div>
            <p class="role-badge center-content"><b>{{getRoleName()}}</b></p>
        </div>
        <div [class]="isDriver ? 'basic-data-column driver-flex' : 'basic-data-column no-driver-flex'">
            <app-user-profile-info [user]="user"></app-user-profile-info>
        </div>
        <div *ngIf="isDriver" class="vehicle-column">
            <app-vehicle-rate-data [driverId]="user.id"></app-vehicle-rate-data>
        </div>
    </div>
</div>
