.report-tabs-container {
    display: block;
    min-width: 70rem;
    max-width: fit-content;
    margin: 2rem auto auto;
    background-color: white;
    color: var(--deep-blue);
    padding: 2% 4% 4%;
    border-radius: 15px;
    clear: both;
  }