<mat-toolbar color="accent" class="mat-elevation-z3">
  <a [routerLink]="['/map-view/-1']" routerLinkActive="active">
    <img
      src="../../../assets/images/uber-icon.png"
      alt="SerbUber"
      class="app-icon" />
  </a>
  <div class="spacer">
    <div *ngIf="authService?.getCurrentUser">
      &nbsp;&nbsp;
      <a
        *ngIf="!isAdmin"
        [routerLink]="['/drivings', authService.getCurrentUser?.id]"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Drivings</a
      >
      <a
        *ngIf="isRegularUser"
        [routerLink]="['/favourite-routes']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Favourite Routes</a
      >
      <a
        *ngIf="isAdmin"
        [routerLink]="['/drivers']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Drivers</a
      >
      <a
        *ngIf="isAdmin"
        [routerLink]="['/users']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Users</a
      >

      <a
        *ngIf="isAdmin"
        [routerLink]="['/messages']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Messages</a
      >

      <a
        *ngIf="isAdmin"
        [routerLink]="['/registration']"
        routerLinkActive="active"
        mat-button
        color="primary">
        Driver registration
      </a>
    </div>
  </div>

  <a
    *ngIf="!authService.getCurrentUser"
    [routerLink]="['/login']"
    routerLinkActive="active"
    mat-button
    color="primary"
    >Log in</a
  >
  <a
    *ngIf="!authService.getCurrentUser"
    [routerLink]="['/registration']"
    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    >Sign up</a
  >

  <div *ngIf="authService.getCurrentUser" class="temp">
    <img
      mat-button
      [matMenuTriggerFor]="menu"
      [src]="
        configService.base64_show_photo_prefix +
        authService.getCurrentUser?.profilePicture
      "
      alt="avatar"
      loading="lazy"
      class="img-circle-small" />
    <span class="status bottomRight"></span>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redirectToProfilePage()">
      <mat-icon color="primary">account_circle</mat-icon><span>My profile</span>
    </button>
    <button mat-menu-item (click)="redirectToEditPage()">
      <mat-icon color="primary">edit</mat-icon><span>Edit profile</span>
    </button>
    <div mat-menu-item (click) = "$event.stopPropagation()" *ngIf="loggedUserIsDriver()">
      <mat-slide-toggle class="toggle"
      [(ngModel)] = "this.driverData.active"
      (click) = "changeDriverStatus()"
      color="primary">
      </mat-slide-toggle>
      <span class="toggle-activity-status">{{driverData?.active ? 'Active' : 'Not active'}}</span>
    </div>
    <button
      mat-menu-item
      *ngIf="this.authService.getCurrentUser?.isUserAdmin()"
      (click)="redirectToMessagesPage()">
      <mat-icon color="primary">chat</mat-icon><span>Messages</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon color="primary">logout</mat-icon><span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>
