<div class="form-container mat-elevation-z1">
    <h1 class="text-center">Change password</h1>
    <div class="email-container">
        <img src="../../../assets/images/email.png" alt="email icon" style="height: 2rem;width:2rem;"/>
        <h3 style="margin-left: 0.5rem;">
             {{email}}
        </h3>
    </div>
    
    <form color="primary" [formGroup]="passwordForm">

        <div class="password-container">
            <mat-form-field class="password-colomn" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Enter password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.get('passwordFormControl').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field class="password-colomn" appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="passwordAgainFormControl" [errorStateMatcher]="matcher" placeholder="Enter confirm password">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.get('passwordAgainFormControl').hasError('required')">
                    Confirm password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordForm.get('passwordAgainFormControl').hasError('mismatch')">
                    Passwords are not match
                </mat-error>
            </mat-form-field>
        </div>
    
        <div style="display: flex;">
            <a href="/forgot-password" class="link" style="margin-left: 0.5rem; margin-top: 0.5rem;">Skip</a>

            <button mat-raised-button (click)="resetPasswordEmail()" style="background-color: #abbbae; font-size: 1.4rem; color: #2c4b61; margin-left: 4rem;">
                Save password
            </button>
        </div>
      
    </form>
  </div>
