<mat-toolbar color="accent" class="mat-elevation-z3">
  <a [routerLink]="['/serb-uber/user/map-page-view/-1']" routerLinkActive="active">
    <img
      src="./assets/images/uber-icon.png"
      alt="SerbUber"
      class="app-icon" />
  </a>
  <div class="spacer">
    <div *ngIf="loggedUser">
      &nbsp;&nbsp;
      <a
        *ngIf="!isAdmin"
        [routerLink]="['/serb-uber/drivings', loggedUser?.id]"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Drivings</a>
      <a
        *ngIf="!isAdmin && isRegular"
        [routerLink]="['/serb-uber/regular-user/payment/financial-card', loggedUser?.id]"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Tokens</a
      >
      <a
        *ngIf="isAdmin"
        [routerLink]="['/serb-uber/admin/drivers']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Drivers</a
      >
      <a
        *ngIf="isAdmin"
        [routerLink]="['/serb-uber/admin/users']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Users</a
      >

      <a
        *ngIf="isAdmin"
        [routerLink]="['/serb-uber/admin/messages']"
        routerLinkActive="active"
        mat-button
        color="primary"
        >Messages</a
      >

      <a
        *ngIf="isAdmin"
        [routerLink]="['/serb-uber/user/registration']"
        routerLinkActive="active"
        mat-button
        color="primary">
        Driver registration
      </a>

      <a
        *ngIf="isAdmin"
        [routerLink]="['/serb-uber/admin/payment/change-paying-info']"
        routerLinkActive="active"
        mat-button
        color="primary">
        Payment
      </a>

      <a
        *ngIf="loggedUser"
        [routerLink]="['/serb-uber/reports']"
        routerLinkActive="active"
        mat-button
        color="primary">
        Reports
      </a>
    </div>
  </div>

  <a
    *ngIf="!loggedUser"
    [routerLink]="['/serb-uber/auth/login']"
    routerLinkActive="active"
    mat-button
    color="primary"
    >Log in</a
  >
  <a
    *ngIf="!loggedUser"
    [routerLink]="['/serb-uber/user/registration']"
    routerLinkActive="active"
    mat-raised-button
    class="a-sign-up"
    >Sign up</a
  >

  <div
    *ngIf="isRegular"
    class="bell-icon"
    mat-button
    [matMenuTriggerFor]="bellNotificationsMenu"
    (click)="setAllAsSeen()"
    >
    <mat-icon>notifications</mat-icon>
    <div *ngIf="numOfNotifications > 0" class="badge">
      <span>{{numOfNotifications}}</span>
    </div>
  </div
>

  <div *ngIf="loggedUser" class="temp">
    <img
      mat-button
      [matMenuTriggerFor]="menu"
      [src]="
        configService.BASE64_PHOTO_PREFIX +
        loggedUser?.profilePicture
      "
      alt="avatar"
      loading="lazy"
      class="img-circle-small" />
    <span [class]="isDriver && !driverData?.active ? 'status bottomRight status-not-active' : 'status bottomRight  status-active'"></span>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redirectToProfilePage()">
      <mat-icon color="primary">account_circle</mat-icon><span>My profile</span>
    </button>
    <button mat-menu-item (click)="redirectToEditPage()">
      <mat-icon color="primary">edit</mat-icon><span>Edit profile</span>
    </button>
    <button mat-menu-item (click)="redirectToRessetPassword()">
      <mat-icon color="primary">lock</mat-icon><span>Password</span>
    </button>
    <div mat-menu-item (click) = "$event.stopPropagation()" *ngIf="isDriver">
      <mat-slide-toggle class="toggle"
      [(ngModel)] = "this.driverActivityStatus"
      (click) = "changeDriverStatus()"
      color="primary">
      </mat-slide-toggle>
      <span class="toggle-activity-status">{{driverData?.active ? 'Active' : 'Not active'}}</span>
    </div>
    <button
      mat-menu-item
      *ngIf="isAdmin"
      (click)="redirectToMessagesPage()">
      <mat-icon color="primary">chat</mat-icon><span>Messages</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon color="primary">logout</mat-icon><span>Log out</span>
    </button>
  </mat-menu>

  <mat-menu class="bell-notifications-menu" #bellNotificationsMenu="matMenu">
    <div 
    *ngFor="let notification of bellNotifications; index as i"
    class="notification-content"
    >
      <div class="notification-row" (click)="notificationRedirect(notification)">
        <div>
          {{notification.timeStamp | dateFormat}}
        </div>
        <div>
          {{notification.message}}
        </div>
        <hr>
      </div>
    </div>
    <div *ngIf="bellNotifications.length < 1" class="notification-content">
      Your inbox is empty.
    </div>
  </mat-menu>

</mat-toolbar>
