<div class="form-container" *ngIf="tokenBank">
    <div class="row">
        <div class="column">
           <h1>Financial card</h1>
           <div class="credit-card">
                <h3>{{tokenBank.user.name + " " + tokenBank.user.surname}}</h3>
                <img
                src="../../../assets/images/uber-icon.png"
                alt="SerbUber"
                class="app-icon" />
                <p>SerbUber Bank</p>
           </div>
           <div class="transparent-wallet">
           </div>
           <div class="non-transparent-wallet">
                <h1>Total balance:</h1>
                <div class="total-balance">
                    <label>{{tokenBank.numOfTokens}}</label>
                    <mat-icon class="token-icon">payments</mat-icon>
                    <mat-icon class="credit-card-icon">credit_card</mat-icon>
                </div>
           </div>
        </div>
        <div class="column">
            <h1 class="buy-title">Buy tokens</h1>
            <app-buy-tokens [tokenBank]="tokenBank"></app-buy-tokens>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <h1 class="transaction-title">Transactions</h1>
            <app-transactions-history [transactions]="tokenBank.transactions"></app-transactions-history>
        </div>
        <div class="column">
            <h1 class="statistics-title">Statistics</h1>
            <app-payment-statistics class="statistics-content" [totalAmountMoneySpent]="tokenBank.totalMoneyAmountSpent" 
                [totalAmountTokenSpent]="tokenBank.totalTokenAmountSpent"
                [totalAmountTokenBought]="tokenBank.totalTokenAmountSpent + tokenBank.numOfTokens">
            </app-payment-statistics>
        </div>
    </div>

</div>