<h1 mat-dialog-title>Rate driver and vehicle</h1>
<div mat-dialog-content class="content">
  <div class="stars-content">
    <div>
      <mat-icon>person</mat-icon>
      <ngx-stars  
        [readonly]="false" customSize="1.5rem" 
        [initialStars]="ratingDriver"
        (ratingOutput)="onRatingDriverSet($event)" 
        color="var(--stars-gold)">
      </ngx-stars>
    </div>
    <div>
      <mat-icon>directions_car</mat-icon>
      <ngx-stars
        [readonly]="false" 
        customSize="1.5rem" 
        [initialStars]="ratingVehicle" 
        (ratingOutput)="onRatingVehicleSet($event)"
        color="var(--stars-gold)">
      </ngx-stars>
    </div>
  </div>
  <p *ngIf="error!==''" style="color:red;font-weight: bold;">{{error}}</p>
  <textarea
    matInput
    rows="5"
    cols="30"
    placeholder="Enter a comment..."
    [(ngModel)]="message"></textarea>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button cdkFocusInitial (click)="confirm()">Confirm</button>
</div>
