<div class="driving-container mat-elevation-z2">
  <table style="table-layout: fixed; font-size: large">
    <tr>
      <td nowrap="nowrap" style="padding: 0 1rem">
        {{ getDrivingStartLocation(driving) }}
      </td>
      <td nowrap="nowrap" style="padding: 0 1rem">
        {{ getDrivingDestination(driving) }}
      </td>
    </tr>
    <tr>
      <td nowrap="nowrap" style="padding: 0 1rem">
        {{ driving.started | dateFormat }}
      </td>
      <td nowrap="nowrap" style="padding: 0 1rem">
        {{
        endDrivingDate(driving.started, driving.duration)
          | dateFormat
        }}
      </td>
    </tr>
  </table>
  <div style="margin-left: 0.7rem">
    <p-avatarGroup>
      <div *ngFor="let user of driving.users; let userIndex = index">
        <p-avatar
          *ngIf="userIndex < maxNumberOfShowedUsers"
          shape="circle"
          size="large"
          [image]="
                configService.BASE64_PHOTO_PREFIX + user.profilePicture
              "
          (click)="goToUserProfile(user?.id)"></p-avatar>
        <p-avatar
          *ngIf="userIndex >= maxNumberOfShowedUsers"
          shape="circle"
          size="large"
          [label]="getNumOfNotShowedUsers(driving)"></p-avatar>
      </div>
    </p-avatarGroup>
  </div>
  <img
    matTooltip="Show driving details"
    matTooltipClass="tooltip"
    matTooltipHideDelay="10"
    class="info-button"
    src="../../../assets/images/info.png"
    alt="no info photo"
    (click)="showDrivingDetails(driving?.id)" />
  <div *ngIf="driving.active">
    <img
      matTooltip="Show current location"
      matTooltipClass="tooltip"
      matTooltipHideDelay="10"
      style="float: right"
      src="../../../assets/images/mapView.png"
      alt="no photo"
      (click)="showOnMapDriving(driving)" />
    <button
      mat-button
      (click)="onFinishDriving()"
      class="finish-button">
      Finish
    </button>
  </div>
  <div *ngIf="!driving.active && driving.drivingStatus === 'ACCEPTED'">
    <button
      *ngIf="index === 0"
      mat-button
      (click)="onStartDriving()"
      class="finish-button">
      Start
    </button>
    <button
      mat-button
      (click)="onRejectDriving()"
      class="finish-button">
      Reject
    </button>
  </div>
</div>
