<div class="chat">
    <div class="contact-bar">
        <div class="name">
            <span>{{selectedChatRoom.client.name + " " + selectedChatRoom.client.surname}}</span>
        </div>
        <div class="resolved-badge" (click)="onResolve()">
            <mat-icon>{{selectedChatRoom.resolved ? 'turned_in' : 'turned_in_not'}}</mat-icon>
        </div>
    </div>
    <div id="chat" [class]="selectedChatRoom.resolved ? 'messages resolved-position' : 'messages'">
        <div *ngFor="let mes of selectedChatRoom.messages; index as i">
            <div *ngIf="(i === 0)" class="name-data">
                {{mes.timeStamp | date: 'dd.MM.YYYY HH:mm'}}
            </div>
            <div [class]="mes.adminResponse ? 'message sender' : 'message'">
                {{mes.message}}
            </div>
        </div>
    </div>
    <div *ngIf="!selectedChatRoom.resolved" [class]="!selectedChatRoom.resolved ? 'input' : ''">
        <input #messageInput (keyup.enter)="onSend()" [(ngModel)] = "newMessage" placeholder="Type your message here!" type="text" />
        <button (click)="onSend()" class="send-button">Send</button>
    </div>
</div>