
$text-1: #333;
$text-2: #666;
$text-3: #999;
$green: #86BB71;
$blue: #94C2ED;
$background: white;

.send-button {
    font-size: 1.1rem;
    color: white;
    background-color: $green;
    border-radius: 10px;
    border: none;
    padding: 5px;

    &:hover {
        border: 1px solid $text-1;
    }
}

.resolved-badge {
    transform: scale(1.2);
    position: absolute;
    right: 1rem;
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: 1px solid black;

    width: 24rem;
    height: 30rem;
    box-sizing: border-box;
    border-radius: 1rem;

    background: var(--cream);

    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .contact-bar {
        display: flex;
        justify-content: center;
        flex-basis: 1rem;
        flex-shrink: 0;
        margin-top: 1.2rem;
        box-sizing: border-box;
    }

    .resolved-position {
        margin-bottom: 17%;
    }

    .messages {
        margin-top: 5%;
        padding: 0.3rem;
        background: $background;
        flex-shrink: 2;
        overflow-y: auto;
        min-height: 70%;
        margin-right: 0.5rem;
        border: 0.1rem solid $text-2;

        .name-data {
            font-size: 0.8rem;
            background: var(--cream);
            padding: 0.25rem 1rem;
            border-radius: 2rem;
            width: fit-content;
            margin: 0 auto;
        }

        .message {
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            margin: 1rem;
            background: $green;
            border-radius: 1.125rem 1.125rem 1.125rem 0;
            min-height: 2.25rem;
            width: fit-content;
            max-width: 66%;
            color: white;

            box-shadow:
                0 0 2rem rgba(black, 0.075),
                0rem 1rem 1rem -1rem rgba(black, 0.1);

            &.sender {
                margin: 1rem 1rem 1rem auto;
                border-radius: 1.125rem 1.125rem 0 1.125rem;
                background: $blue;
                color: white;
            }
        }
    }

    .no-inputs {
        margin-bottom: 20%;
    }

    .input {
        box-sizing: border-box;
        flex-basis: 4rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 0 0.5rem 0 1.5rem;

        i {
            font-size: 1.5rem;
            margin-right: 1rem;
            color: $text-2;
            cursor: pointer;
            transition: color 200ms;

            &:hover {
                color: $text-1;
            }
        }

        input {
            border: 1px solid $text-1;
            background-image: none;
            background-color: white;
            padding: 0.5rem 1rem;
            margin-right: 1rem;
            border-radius: 1.125rem;
            flex-grow: 2;
            box-shadow:
                0 0 1rem rgba(black, 0.1),
                0rem 1rem 1rem -1rem rgba(black, 0.2);

            font-weight: 400;
            letter-spacing: 0.025em;

            &:placeholder {
                color: $text-3;
            }
        }
    }
}