<div id="wrapper">
  <div id="map"></div>
  <div id="float-div">
    <div *ngIf="!router.url.includes('driving-notification')">
      <app-home *ngIf="actRoute.snapshot.paramMap.get('id') === '-1'" [map]="map"></app-home>
      <app-driving-details *ngIf="actRoute.snapshot.paramMap.get('id') !== '-1'" [map]="map"></app-driving-details>
    </div>
    <app-driving-notification-details *ngIf="router.url.includes('driving-notification')" [map]="map"></app-driving-notification-details>
  </div>
<!--  <div *ngIf="actRoute.snapshot.paramMap.get('id') !== '-1'" class="map-pill">-->
<!--    <div class="youps-pill-logo"></div>-->
<!--    <div class="youps-pill-content">-->
<!--      <div class="youps-pill-label">Your driver is on its way!</div>-->
<!--    </div>-->
<!--  </div>-->
</div>






