<div class="form-container mat-elevation-z1">
  <h1 class="text-center">Account recovery</h1>
  <h5 class="text-center">
    To help keep your account safe, SerbUber wants to make sure it's really you
    trying to sign in
  </h5>
  <form color="primary" [formGroup]="enterEmailForm">
    <mat-form-field
      class="full-width"
      appearance="fill"
      style="min-height: 30px">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="email@domain.com"
        formControlName="email"
        required />
      <mat-error *ngIf="enterEmailForm.invalid">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <div class="center margin-top">
      <button
        mat-raised-button
        (click)="sendResetPasswordEmail()"
        class="send-reset-link-button">
        Send reset link
      </button>
    </div>
  </form>

  <div class="devider-container">
    <div class="devider-line"><mat-divider></mat-divider></div>
    <div class="devider-line"><mat-divider></mat-divider></div>
  </div>
  <span class="center margin-top"
    >Already a member?
    <a [routerLink]="['/serb-uber/auth/login']" class="link" style="margin-left: 5px">Log in</a>
  </span>
  <span class="center margin-top"
    >Don't have an account?
    <a [routerLink]="['/serb-uber/user/registration']" style="margin-left: 5px" class="link">Sign up</a>
  </span>
</div>
