.driving-container {
  display: block;
  max-width: 30rem;
  margin: 1rem auto auto;
  background-color: rgb(245,233,222);
  padding: 2%;
  border-radius: 15px;
  overflow:hidden;
  clear: both;
  border: 2px solid var(--blue);
}

.finish-button {
  font-size: 1rem;
  background-color: var(--red);
  color:var(--cream);
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.7rem;
}

.info-button {
  width: 30px;
  height:30px;
  margin-top:0.7rem;
  margin-left: 0.7rem;
  float: left
}
