<div id="route-div" class="box mat-elevation-z1">
  <div  *ngIf="nowAndFutureDrivings.length === 0"
        class="devider-container"
  >
    <h3>No active or future drivings.</h3>
  </div>
  <div *ngFor="let driving of nowAndFutureDrivings; let i=index" class="for">
    <div class="driving-container mat-elevation-z2">
      <table style="table-layout: fixed;font-size: large;">
        <tr >
          <td nowrap="nowrap" style="padding: 0 1rem;">{{getDrivingStartLocation(driving)}}</td>
          <td nowrap="nowrap" style="padding: 0 1rem;">{{getDrivingDestination(driving)}}</td>
        </tr>
        <tr>
          <td nowrap="nowrap" style="padding: 0 1rem;">{{driving.started|date :'dd.MM.yyyy. hh:mm'}}</td>
          <td nowrap="nowrap" style="padding: 0 1rem;">{{endDrivingDate(driving.started, driving.duration) |date :'dd.MM.yyyy. hh:mm'}}</td>
        </tr>
      </table>
      <div style="margin-left: 0.7rem">
        <p-avatarGroup>
          <div *ngFor="let user of driving.users; let userIndex=index">
            <p-avatar *ngIf="userIndex < maxNumberOfShowedUsers" shape="circle"
                      size="large" [image]="configService.base64_show_photo_prefix + user.profilePicture"
                      (click)="goToUserProfile(user?.id)"></p-avatar>
            <p-avatar *ngIf="userIndex >= maxNumberOfShowedUsers" shape="circle"
                      size="large" [label]=getNumOfNotShowedUsers(driving)></p-avatar>
          </div>

        </p-avatarGroup>
      </div>
      <img matTooltip="Show driving details" matTooltipClass="tooltip" matTooltipHideDelay="10" class="info-button" src="../../../assets/images/info.png" alt="no info photo" (click)="showDrivingDetails(driving?.id)"/>
      <div *ngIf="driving.active">
        <img matTooltip="Show current location" matTooltipClass="tooltip" matTooltipHideDelay="10" style="float: right" src="../../../assets/images/mapView.png" alt="no photo" (click)="showOnMapDriving(driving)"/>
        <button mat-button (click)="finishDriving(driving?.id, i)" class="finish-button">
          Finish
        </button>
      </div>
      <div *ngIf="driving.drivingStatus === 'PENDING'">

        <button *ngIf="i===0"  mat-button (click)="startDriving(driving?.id, i)" class="finish-button">Start</button>
        <button mat-button (click)="openRejectDrivingDialog(driving?.id, i)" class="finish-button">Reject</button>

      </div>
    </div>
    <div *ngIf="i === 0 && nowAndFutureDrivings.length > 1" class="devider-container">
      <div class="devider-line"><mat-divider></mat-divider></div>
      <div class="devider-text mat-typography"><b>In future</b></div>
      <div class="devider-line"><mat-divider></mat-divider></div>
    </div>

  </div>
</div>
