<div id="route-div" class="box mat-elevation-z1">
  <div *ngIf="nowAndFutureDrivings.length === 0" class="devider-container">
    <h3>No active or future drivings.</h3>
  </div>
  <div *ngFor="let driving of nowAndFutureDrivings; let i = index" class="for">
    <app-simple-driving-detail-container
      [driving]="driving"
      [index]="i"
      (finishDriving)="finishDriving(i)"
      (startDriving)="startDriving(i)"
      (rejectDriving)="openRejectDrivingDialog(i)"
    ></app-simple-driving-detail-container>
    <div
      *ngIf="i === 0 && nowAndFutureDrivings.length > 1"
      class="devider-container">
      <div class="devider-line"><mat-divider></mat-divider></div>
      <div class="devider-text mat-typography"><b>In future</b></div>
      <div class="devider-line"><mat-divider></mat-divider></div>
    </div>
  </div>
</div>
