
.btn{
    float: right;
}

.price{
    float: right;
}

.date{
    float: right;
    margin-right:12%;
}


p{
    display: inline;
}

.line{
    flex:1;
}

.divider{

    display: inline-block;
    border-top-width: 2px;
    margin-left: 20%;
}

.sortBtn{
    float: right;
    margin-right:5%;
}
