#spinner-overlap-div {
  position:relative;
  width:15rem;
  height: 15rem;
}

.spinner-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-inline-center {
  text-align: center;
}
