<div style="padding: 3%;">
    <h1 mat-dialog-title style="display: flex;" class="center"><b>Blocking user</b></h1>
    <mat-dialog-content>
        <br>
        <h2 class="center-content"><b>Are you sure that you want to block {{user.name}} {{user.surname}}?</b></h2>
        <h4 class="center-content"><b>If so, please provide a reason.</b></h4>
        <textarea
        matInput
        rows="5"
        placeholder="Enter a reason(at least 5 characters)..."
        [(ngModel)]="reason"></textarea>
    </mat-dialog-content>

    <mat-dialog-actions class="activity-buttons" align="center">
        <button mat-button class="cancel-button" [mat-dialog-close]="null">Close</button>
        <button mat-raised-button class="green-button block-button" [disabled]="!checkEnteredReason()" [mat-dialog-close]="createData()">Block</button>
    </mat-dialog-actions>
</div>
