
<form [formGroup]="rideRequestForm" *ngIf="!hasActiveDriving() && (!storedDrivingNotification || storedDrivingNotification?.drivingStatus === 'FINISHED')">
  <app-enter-locations
    *ngIf="routeChoiceView"
    [currentUser]="currentUser"
    [map]="map"
    (clickedChooseVehicleAndPassengers)="onRequestNow()"
    (clickedChooseVehicleAndPassengersForLater)="onRequestLater()"
  ></app-enter-locations>

  <app-filter-vehicle-view *ngIf="filterVehicleView" [requestLater]="requestLater" (waitingForAcceptDrive)="loadingView($event)"></app-filter-vehicle-view>

</form>

<app-waiting-for-accept-ride-container *ngIf="!hasActiveDriving() && storedDrivingNotification?.drivingStatus==='PAYING'"></app-waiting-for-accept-ride-container>

<app-active-drive-container [activeRide]="activeRide" *ngIf="hasActiveDriving()"></app-active-drive-container>
