<form [formGroup]="rideRequestForm" *ngIf="!storedDrivingNotification?.active && (!storedDrivingNotification || storedDrivingNotification?.drivingStatus === 'FINISHED')">
  <app-enter-locations
    *ngIf="routeChoiceView"
    [currentUser]="currentUser"
    [map]="map"
    (clickedChooseVehicleAndPassengers)="onRequestNow()"
    (clickedChooseVehicleAndPassengersForLater)="onRequestLater()"
  ></app-enter-locations>

  <app-filter-vehicle-view *ngIf="filterVehicleView" [requestLater]="requestLater" (waitingForAcceptDrive)="loadingView($event)"></app-filter-vehicle-view>

</form>
<app-waiting-for-accept-ride-container *ngIf="storedDrivingNotification && !storedDrivingNotification?.active && storedDrivingNotification?.drivingStatus==='PAYING'"></app-waiting-for-accept-ride-container>
<app-active-drive-container [currentUserId]="currentUser.id" *ngIf="storedDrivingNotification && storedDrivingNotification?.active"></app-active-drive-container>
