<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Passengers </mat-panel-title>
  </mat-expansion-panel-header>

  <div *ngFor="let user of users; let userIndex=index;">
    <mat-card (click)="goToPassengerProfile(user?.id)" [matTooltip]="user.name + ' ' + user.surname" style="cursor:pointer;">
      <mat-card-header>
        <div [class]="userIndex < 7 ? 'avatar-icon-passenger random-color-' + userIndex : 'avatar-icon-passenger random-color-' + (userIndex-5)">
          <div style="margin-top: 1.2rem; font-size: 1.4rem;">
            {{user.name[0] + user.surname[0]}}
        </div>
        </div>
        <div style="display: block">
          <mat-card-title>{{ user?.name }} {{ user?.surname }}</mat-card-title>
          <div style="display: flex; margin-top: 0.4rem; font-size: 1.1rem">
            <mat-icon style="display: inline-flex">email</mat-icon>&nbsp;{{
              user?.email
            }}
          </div>
        </div>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card><br>
  </div>
</mat-expansion-panel>
