<div class="message-history-container">
    <div *ngIf="selectedChatRoom; else noChatRooms">
        <div class="center">
            <div class="contacts">
                <h2>
                    Chat Rooms
                </h2>
                <div class="contact" *ngFor="let chatRoom of chatRooms; index as i" [class]="(chatRoom.id === selectedChatRoom.id) ? 'active' : ''">
                    <div (click)="changedSelected(i)">
                        <div [class]="i < 7 ? 'pic random-color-' + i : 'pic random-color-' + (i-5)"
                        [matTooltip]="chatRoom.client.name + ' ' + chatRoom.client.surname">
                            <div>{{chatRoom.client.name[0] + chatRoom.client.name[0]}}</div>
                        </div>

                        <div class="badge" *ngIf="showNotificationBadge(chatRoom)">
                            {{getNumOfNotSeenMessages(chatRoom)}}
                        </div>
                    
                        <div class="name">
                            {{chatRoom.client.name + " " + chatRoom.client.surname}}
                            <span [class]="!chatRoom.resolved ? 'resolved-badge resolved-badge-color-active' : 'resolved-badge resolved-badge-color-closed'">{{(chatRoom.resolved) ? 'Closed' : 'Active'}}</span>
                        </div>
                        <div class="message">
                            {{
                            (chatRoom.messages.at(-1).message.length <= 25) ? chatRoom.messages.at(-1).message :
                                chatRoom.messages.at(-1).message.substring(0, 25) + "..." }} 
                        </div>
                    </div>
                </div>
            </div>
            <app-messages-box [selectedChatRoom]="selectedChatRoom">
            </app-messages-box>
        </div>
    </div>
    <ng-template #noChatRooms>Your inbox is empty.</ng-template>
</div>

