<div>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        style="height: 5rem; width: 5rem"
        [src]="vehicle_image[vehicle?.vehicleTypeInfo?.vehicleType]" />
      <div style="display: block">
        <div style="display: flex; margin-top: 15px">
          <mat-card-title
            >{{ vehicle?.vehicleTypeInfo?.vehicleType }}
          </mat-card-title>
          <mat-icon style="display: inline-flex; margin-left: 2rem"
            >people</mat-icon
          >&nbsp;<span style="font-size: 1.2rem; margin-top: 0.1rem">{{
            vehicle?.vehicleTypeInfo?.numOfSeats
          }}</span>
        </div>
        <div *ngIf="vehicle?.petFriendly" style="display: flex">
          <p style="font-size: 1.2rem">Pet friendly</p>
          <img
            style="height: 1.5rem; width: 1.5rem; margin-left: 5px"
            mat-card-avatar
            src="/assets/images/petFriendly.png" />
        </div>

        <div *ngIf="vehicle?.babySeat" style="display: flex">
          <p style="font-size: 1.2rem">Baby in car</p>
          <img
            style="height: 1.5rem; width: 1.5rem; margin-left: 5px"
            mat-card-avatar
            src="/assets/images/babySeat.png" />
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <!--<ngx-star-rating
        class="stars"
        [(ngModel)]="vehicle.rate"
        [id]="'rating'"
        [disabled]="true"></ngx-star-rating>-->
    </mat-card-content>
  </mat-card>
</div>
