#map {
  margin: 1% !important;
  height: 100% !important;
  z-index: 0 !important;
}

.delete-location-button{
  color: #2c4b61;
}

.place-options{
  background-color: #b73e3e;
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.viewport {
  height: 170px;
  overflow-x: hidden;
  overflow-y: auto;
}

