<div id="route-div" *ngIf="!isDriver" class="box mat-elevation-z1">
  <div *ngIf="routeChoiceView">
    <h1><strong>Request a ride now</strong></h1>
    <div
      *ngFor="let addedLocation of searchingRoutesForm; let i = index"
      class="div">
      <mat-form-field appearance="fill">
        <mat-label *ngIf="i === 0" style="font-size: 1.1rem"
          >Enter pickup location</mat-label
        >
        <mat-label
          *ngIf="i === searchingRoutesForm.length - 1"
          style="font-size: 1.1rem"
          >Enter destination</mat-label
        >
        <mat-label
          *ngIf="i !== 0 && i !== searchingRoutesForm.length - 1"
          style="font-size: 1.1rem"
          >Via destination</mat-label
        >

        <input
          type="text"
          matInput
          ngx-google-places-autocomplete
          [options]="options"
          aria-label="State"
          [(ngModel)]="searchingRoutesForm.at(i).inputPlace"
          (onAddressChange)="addressChange($event, i)"
          placeholder="Enter location"
          style="font-size: 1.2rem;" />
        <mat-icon
          *ngIf="i === 0 || i === searchingRoutesForm.length - 1"
          [style.color]="i === 0 ? '#abbbae' : '#b73e3e'"
          matSuffix
          >location_on</mat-icon
        >
        <mat-icon
          *ngIf="i !== 0 && i !== searchingRoutesForm.length - 1"
          matSuffix
          >{{ getIconName(i) }}</mat-icon
        >

      </mat-form-field>

      <button
        *ngIf="searchingRoutesForm.length > 2"
        mat-icon-button
        class="delete-location-button"
        (click)="deleteOneLocation(i)">
        <mat-icon
          matTooltip="Remove from route"
          matTooltipClass="tooltip"
          matTooltipHideDelay="10">
          remove_circle
        </mat-icon>
      </button>

      <mat-error *ngIf="rideIsRequested && fieldIsInvalid(i)">
        This is <strong>required</strong>
      </mat-error>
    </div>

    <button
      *ngIf="canAddMoreLocation()"
      mat-button
      (click)="addOneMoreLocation()"
      style="font-size: 1rem; color: #2c4b61; border-color: #2c4b61">
      <mat-icon>add_circle</mat-icon>
      Add location
    </button>

    <div class="margin-top">
      <button mat-raised-button (click)="getPossibleRoutes()">
        Request now
      </button>
    </div>

    <div class="mat-elevation-z3" *ngIf="possibleRoutesViaPoints.length > 0">
      <button mat-button (click)="getPossibleRoutes()" class="options-button">
        Options
      </button>
    </div>

    <div *ngIf="possibleRoutesViaPoints.length > 0" class="devider-container">
      <div class="devider-line"><mat-divider></mat-divider></div>
      <div class="devider-text mat-typography"><b>Possible routes</b></div>
      <div class="devider-line"><mat-divider></mat-divider></div>
    </div>

    <div *ngIf="possibleRoutesViaPoints.length > 0" class="viewport">
      <div *ngFor="let possibleRoute of possibleRoutesViaPoints; let i = index">
        <h2 style="margin-left:0.7rem"><strong>
          {{getFromToLabel(i)}}
          <mat-icon>arrow_right_alt</mat-icon>
          {{getFromToLabel(i + 1)}}
        </strong></h2>
        <p-carousel [value]="possibleRoute.possibleRouteDTOList" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
          <ng-template let-route  pTemplate="item">
            <div>
              <div class="product-item-content">
                <div style="position: relative;">
                  <route-row [route]="route" (click)="changeOptionRouteOnClick(route, possibleRoute.possibleRouteDTOList.indexOf(route), i)" ></route-row>
                </div>
              </div>
            </div>

          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="continue-button" *ngIf="currentUser && possibleRoutesViaPoints.length > 0">
      <button mat-raised-button (click)="chooseVehicleAndPassengers()">
        Continue
      </button>
    </div>
  </div>
  <div *ngIf="filterVehicleView">
    <app-filter-vehicle-view [route]="selectedRoute"></app-filter-vehicle-view>
  </div>
</div>
<app-driver-home-page-container *ngIf="isDriver" [driverId]="currentUser.id">
</app-driver-home-page-container>
