.delete-location-button {
  color: #2c4b61;
}

.place-options {
  background-color: var(--gray);
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.viewport {
  max-height: 9rem;
  overflow-y: scroll !important;
}

.stepper-possible-routes {
  background-color: var(--gray);
}

.confirm-ride-button {
  background-color: var(--deep-blue);
}

.text-deep-blue {
  color: var(--deep-blue);
}

mat-error {
  margin-left: 0.2rem;
}

.continue-button {
  float: right;
}

.options-button {
  float: right;
  background-color: var(--gray);
  color: var(--deep-blue);
}

.options-button:hover {
  margin-top: 0.1rem;
  border: 2px solid rgba(40, 59, 80, 0.4);
  background-color: rgba(40, 59, 80, 0.2);
}

/*.pac-container {*/
/*  background-color: red !important;*/
/*  position: absolute!important;*/
/*  z-index: 1000;*/
/*  border-radius: 2px;*/
/*  border-top: 1px solid #d9d9d9;*/
/*  font-family: Arial, sans-serif;*/
/*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
/*  -moz-box-sizing: border-box;*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*  overflow: hidden*/
/*}*/

.pac-logo {
  padding: 10px 0;
}

.pac-logo::after {
  display: none;
}

/*.pac-item {*/
/*  cursor: default;*/
/*  padding: 0 4px;*/
/*  text-overflow: ellipsis;*/
/*  overflow: hidden;*/
/*  white-space: nowrap;*/
/*  line-height: 30px;*/
/*  text-align: left;*/
/*  border-top: 1px solid #e6e6e6;*/
/*  font-size: 11px;*/
/*  color: #999*/
/*}*/
/*.pac-item:hover {*/
/*  background-color: #fafafa*/
/*}*/
/*.pac-item-selected,*/
/*.pac-item-selected:hover {*/
/*  background-color: #ebf2fe*/
/*}*/
/*.pac-matched {*/
/*  font-weight: 700*/
/*}*/
/*.pac-item-query {*/
/*  font-size: 13px;*/
/*  padding-right: 3px;*/
/*  color: blue;*/
/*}*/
