.card {
  max-width: 60%;
  margin-top: 20px;
  margin-left: 20%;
  padding: 20px;
}

.btn {
  float: right;
}

.price {
  float: right;
  color: var(--deep-blue);
}

.date {
  float: right;
}

p {
  display: inline;
}

.line {
  flex: 1;
}

.divider {
  display: inline-block;
  border-top-width: 2px;
  margin-left: 20%;
}

.sortBtn {
  float: right;
  margin-right: 5%;
}
