<mat-card class="card">
  <mat-card-title class="line"
    ><p>
      {{ driving.route.locations.at(0).location.street }}
      {{ driving.route.locations.at(0).location.number }}
    </p>
    <mat-divider class="divider"></mat-divider>
    <p class="price">
      {{
        driving.route.locations.at(driving.route.locations.length - 1).location
          .street
      }}
      {{
        driving.route.locations.at(driving.route.locations.length - 1).location
          .number
      }}
    </p>
  </mat-card-title>
  <br />
  <mat-card-subtitle
    ><p>{{ driving.started | dateFormat}}</p>
    <p class="date">
      {{
        endDrivingDate(driving.started, driving.duration)
          | dateFormat
      }}
    </p></mat-card-subtitle
  >
  <mat-card-content class="price"
    ><div style="float:right;  font-size: 1.7rem;display: flex;flex-direction: row;margin-top:0.2rem;">
      <b>{{driving.price}}</b>
      <mat-icon style="margin-left:0.3rem;">payments</mat-icon>
    </div>
  </mat-card-content>
  <br />
  <br />
  <mat-card-actions>
    <button mat-raised-button (click)="goToDetailsPage(driving.id)">
      Details
    </button>
    <button style="margin-left:2rem;"
      *ngIf="
        user.role.name === 'ROLE_REGULAR_USER' &&
        isDisabledBtnRate(driving.started) &&
        !driving.hasReviewForUser
      "
      mat-raised-button
      (click)="openDialog(driving.id)">
      Rate
    </button>

    <button *ngIf="isRegularUser" mat-icon-button color="warn" (click)="setFavouriteRoute(favouriteRoute)" style="float:right;">
      <mat-icon
        *ngIf="!favouriteRoute"
        matTooltip="Add to favourite routes"
        matTooltipClass="tooltip"
        matTooltipHideDelay="1000"
        class="icon"
        >favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="favouriteRoute"
        matTooltip="Remove from favourite routes"
        matTooltipClass="tooltip"
        matTooltipHideDelay="1000"
        class="icon"
        >favorite</mat-icon
      >
    </button>
  </mat-card-actions>
</mat-card>
