<div id="wrapper">
    <h3>Please enter the 4-digit verification code we sent via email:</h3>
    <span id="explanation-text">(we want to make sure it's you before we activate your account)</span>
    <div id="form">
        <span id="input-places">
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]" />
        </span>
        <button class="btn-verify">Verify</button>
        <div>
            Didn't receive the code?<br />
            <button id="btn-link">Send code again</button><br />
        </div>
    </div>

</div>
