.delete-location-button {
  color: #2c4b61;
}

.place-options {
  background-color: var(--gray);
}
.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.viewport {
  max-height: 9rem;
  overflow-y: auto !important;
}

.stepper-possible-routes {
  background-color: var(--gray);
}

.confirm-ride-button {
  background-color: var(--deep-blue);
}

.text-deep-blue {
  color: var(--deep-blue);
}

mat-error {
  margin-left: 0.2rem;
}

.continue-button {
  text-align: center;
  justify-content: center;
}

.options-button {
  float: right;
  background-color: var(--gray);
  color: var(--deep-blue);
}

.options-button:hover {
  margin-top: 0.1rem;
  border: 2px solid rgba(40, 59, 80, 0.4);
  background-color: rgba(40, 59, 80, 0.2);
}

.pac-logo {
  padding: 10px 0;
}

.pac-logo::after {
  display: none;
}

#route-div{
  overflow: auto;
  max-height: 46rem;
}
