.form-container {
  max-width: 18rem;
}

.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}

.google-button {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 2.8rem;
  display: inline-block;
}

.facebook-button {
  margin-top: 1rem;
  display: inline-block;
}

.login-button {
  background-color: var(--deep-blue);
  font-size: 1.4rem;
  color: var(--white);
}
