.form-container {
  max-width: 18rem;
  margin-top: 4rem;
}

.email-container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  color: var(--deep-blue);
}

.password-container {
  display: block;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.email-container-picture {
  height: 2rem;
  width: 2rem;
  border-radius:50%;
}

.save-password-button {
  background-color: var(--deep-blue);
  font-size: 1.4rem;
  color: var(--white);
}

.skip-link {
  margin-right: 3rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
}
