<div class="form-container mat-elevation-z1">
    <h1 class="text-center">Change profile data</h1>
    <div class="email-container">
        <img src="../../../assets/images/email.png" alt="email icon" style="height: 2rem;width:2rem;" />
        <h2 style="margin-left: 0.5rem;">
            {{user.email}}
        </h2>
    </div>

    <form color="primary" [formGroup]="editDataForm">
        <div class="data-container">
            <mat-form-field class="colomn" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="user.name">
                <mat-error *ngIf="editDataForm.get('nameFormControl').hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="editDataForm.get('nameFormControl').hasError('pattern')">
                    Please enter a valid name
                </mat-error>
            </mat-form-field>
            
            
            <mat-form-field class="colomn" appearance="fill">
                <mat-label>Surname</mat-label>
                <input type="text" matInput formControlName="surnameFormControl" [errorStateMatcher]="matcher"
                    [(ngModel)]="user.surname">
                <mat-error *ngIf="editDataForm.get('surnameFormControl').hasError('required')">
                    Surname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="editDataForm.get('surnameFormControl').hasError('pattern')">
                    Please enter a valid surname
                </mat-error>
            </mat-form-field>
            
            
            <mat-form-field class="colomn" appearance="fill">
                <mat-label>Phone number</mat-label>
                <input type="tel" matInput formControlName="phoneNumberFormControl" [errorStateMatcher]="matcher"
                    [(ngModel)]="user.phoneNumber" placeholder="Enter phone number">
                <mat-error *ngIf="editDataForm.get('phoneNumberFormControl').hasError('required')">
                    Phone number is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="editDataForm.get('phoneNumberFormControl').hasError('pattern')">
                    Please enter a valid phone number
                </mat-error>
            </mat-form-field>
        
            <mat-form-field class="colomn" appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" matInput [errorStateMatcher]="matcher" aria-label="State" [matAutocomplete]="auto"
                    [(ngModel)]="user.city" formControlName="cityFormControl" placeholder="Choose city">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                        <span>{{city}}</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="editDataForm.get('cityFormControl').hasError('required')">
                    City is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="center">
            <button mat-raised-button class="green-secondary-button" (click)="cancel()">
                Cancel
            </button>
            <button mat-raised-button class="green-button" (click)="saveChanges()" [disabled]="checkValidForm()">
                Save
            </button>
        </div>

    </form>
</div>