<div>
   <!--<mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile colspan="2" rowspan="2">
          <div style="background-color:green;max-width:700px; min-width:600px;min-height:300px;">mapaaa</div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
          
            
            <mat-list-item *ngFor="let dest of destinations">
              <mat-icon mat-list-icon>location_on</mat-icon>
              <div mat-line>{{dest}}</div>
            </mat-list-item>
            
            
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
      
          <div *ngIf="currentUser.role.name === 'ROLE_DRIVER'">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    This is the expansion title
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div *ngIf="currentUser.role.name === 'ROLE_REGULAR_USER'" style="vertical-align: top;">
            <div class="driverInfo" style="float:left"> 
              <h2>Driver</h2>
              <h3 style="display:flex;">
                <mat-icon  style="display:inline-flex">person</mat-icon> 
                <span>{{driver.name}}  {{driver.surname}}</span>
              </h3>
              <h3 style="display:flex">
                <mat-icon  style="display:inline-flex">email</mat-icon> 
                <span>{{driver.email}}</span>
              </h3>
              <h3 style="display:flex">
                <mat-icon  style="display:inline-flex">phone</mat-icon> 
                <span>{{driver.phoneNumber}}</span>
              </h3>
            </div>
          </div>
     
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
          <div class="rating">
            <h2>Rating</h2>
            <h3 style="display:flex;">
              <mat-icon  style="display:inline-flex">person</mat-icon> 
              <div class="star w-50 rating-star">
               <ngx-star-rating class="stars"  [(ngModel)]="driver.rate" [id]="'rating'" [disabled]="true"></ngx-star-rating>
              </div>
            </h3>
            <h3 style="display:flex;">
              <mat-icon  style="display:inline-flex">directions_car</mat-icon> 
              <div class="star w-50 rating-star">
                <ngx-star-rating class="stars"  [(ngModel)]="vehicleRating" [id]="'rating'" [disabled]="true"></ngx-star-rating>
               </div>
            </h3>
          </div>

        </mat-grid-tile>
       
        <mat-grid-tile rowspan="2">
       
            <button mat-raised-button class="routebtn" [matMenuTriggerFor]="menu" style="float:left">Request driving</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Now</button>
              <button mat-menu-item>Later</button>
            </mat-menu>
      
        </mat-grid-tile>
      </mat-grid-list>-->

      <p-timeline [value]="events">
        <ng-template pTemplate="content" let-event>
            {{event.status}}
        </ng-template>
    </p-timeline>
</div>