<div *ngIf="driving" class="box mat-elevation-z1">
  <h1><b>Driving</b></h1>
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ driving.route.locations.at(0).location.street }}
        {{ driving.route.locations.at(0).location.number }}
        <mat-icon>arrow_forward</mat-icon>
        {{
          driving.route.locations.at(driving.route.locations.length - 1)
            .location.street
        }}
        {{
          driving.route.locations.at(driving.route.locations.length - 1)
            .location.number
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list-item *ngFor="let destination of driving.route.locations">
      <div style="display: flex; font-size: 15px">
        <mat-icon mat-list-icon class="icon">location_on</mat-icon>
        <div mat-line>
          {{ destination.location.street }} {{ destination.location.number }}
        </div>
      </div>
      <br />
    </mat-list-item>
  </mat-expansion-panel>-->
  <mat-list>
    <mat-list-item *ngFor="let destination of driving.route.locations">
      <div style="display: flex; font-size: 15px">
        <mat-icon mat-list-icon class="icon">location_on</mat-icon>
        <div mat-line style="margin-top: 0.4rem">
          {{ destination.location.street }} {{ destination.location.number }}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <br />
  <div class="button-container" *ngIf="isRegularUser">
    <button mat-raised-button>Request now</button>
    <button mat-raised-button>Request later</button>
    <button mat-icon-button color="warn" (click)="setFavouriteRoute()">
      <mat-icon
        *ngIf="!favouriteRoute"
        matTooltip="Add to favourite routes"
        matTooltipClass="tooltip"
        matTooltipHideDelay="1000"
        >favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="favouriteRoute"
        matTooltip="Remove from favourite routes"
        matTooltipClass="tooltip"
        matTooltipHideDelay="1000"
        >favorite</mat-icon
      >
    </button>
  </div>
  <br />
  <vehicle-details [vehicle]="driver?.vehicle"></vehicle-details>
  <br />
  <div *ngIf="!isDriver">
    <mat-card>
      <mat-card-header>
        <img
          mat-card-avatar
          style="height: 5rem; width: 5rem"
          [src]="getBase64Prefix() + driver?.profilePicture" />

        <mat-card-title
          >{{ driver?.name }} {{ driver?.surname }}</mat-card-title
        >
        <mat-card-subtitle>
          <div style="display:block">
            <div>{{ driver?.email }}</div>
            <div class="stars-driver">
              <ngx-stars *ngIf="driver?.rate > 0; else noRatingBlock" [readonly]="true" customSize="1.5rem" [initialStars]="driver?.rate" color="#283b50"></ngx-stars>
              <ng-template #noRatingBlock><span class="no-rating-block">No ratings yet</span></ng-template>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <br />

  <div *ngIf="!isRegularUser">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Passengers </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let user of this.driving.users">
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              [src]="getBase64Prefix() + user?.profilePicture" />
            <div style="display: block">
              <mat-card-title
                >{{ user?.name }} {{ user?.surname }}</mat-card-title
              >
              <div style="display: flex; margin-top: 0.4rem; font-size: 1.1rem">
                <mat-icon style="display: inline-flex">email</mat-icon>&nbsp;{{
                  user?.email
                }}
              </div>
            </div>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </div>
  <div style="text-align: right">
    <h2>
      <b>={{ driving.price }}.00 RSD</b>
    </h2>
  </div>
</div>
