<!--<map [route]="driving.route"></map>-->
<div>
    <div class="drivingInfo">
      <div class="route">

         <!-- <mat-card-header>
            <mat-card-title>Route</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list-item *ngFor="let dest of destinations">
              <div style="display:flex;font-size:18px;">
                <mat-icon mat-list-icon class="icon">location_on</mat-icon>
                <div mat-line>{{dest}}</div>
              </div><br>
            </mat-list-item>
      </mat-card-content>-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Route
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list-item *ngFor="let dest of destinations">
          <div style="display:flex;font-size:15px;">
            <mat-icon mat-list-icon class="icon">location_on</mat-icon>
            <div mat-line>{{dest}}</div>
          </div><br>
        </mat-list-item>

      </mat-expansion-panel>


    </div>
    <br>
    <div class="button-container" *ngIf="isRegularUser">
      <button mat-raised-button>Request now</button>
      <button mat-raised-button>Request later</button>
      <button mat-icon-button color="warn" (click)="setFavouriteRoute()" >
        <mat-icon *ngIf="!favouriteRoute" matTooltip="Add to favourite routes" matTooltipClass="tooltip"
        matTooltipHideDelay="1000">favorite_border</mat-icon>
        <mat-icon *ngIf="favouriteRoute" matTooltip="Remove from favourite routes" matTooltipClass="tooltip"
        matTooltipHideDelay="1000">favorite</mat-icon>
      </button>
    </div>
    <br>
      <vehicle-details [vehicle]="driver.vehicle"></vehicle-details>
    <br>
    <div *ngIf="!isDriver">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar style="height:5rem; width: 5rem" [src]="getBase64Prefix() + driver.profilePicture">
          <mat-card-title>{{driver.name}} {{driver.surname}}</mat-card-title>
          <mat-card-subtitle>{{driver.email}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </div>
    <br>

    <div *ngIf="!isRegularUser">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Passengers
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let user of this.driving.users">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar [src]="getBase64Prefix() + user.profilePicture">
                <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
                <mat-card-subtitle>{{user.email}} </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>

              </mat-card-content>
            </mat-card>
        </div>

        </mat-expansion-panel>
    </div>
    <br>

    <div style="text-align:center">

      <h2>{{driving.price}}.00 RSD</h2>
    </div>
</div>
</div>
