::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 22px !important;

    &:hover {
        transform: rotate(0deg) scale(1.2) !important;
    }
}

div {
  color:#2C4B61FF;
}

.form-container {
  display: block;
  width: 60rem;
  margin-left: 2rem;
  background-color: rgb(245,233,222);
  border-radius: 15px;
  overflow:hidden;
  clear: both;
}
