.list{
    background-color: #f5e9de;
    border-radius: 10px;
}

.driverInfo{
    background-color: #f5e9de;
    border-radius: 10px;
    padding: 10px;
    min-width: 200px;
    max-height: 180px;
    text-align: center;
}

.rating{
    background-color: #f5e9de;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-width: 200px; 
    min-height: 180px;
}

.drivingInfo{
  background-color: #f5e9de;
  max-width: 30%;
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
}


.icon{
  display:inline-flex;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container .mat-button-base{
  margin-left: 30px;
}

.button-container .mat-button-base .mat-icon{
 transform:scale(1.4);
}





