::ng-deep label.star {
  padding: 0 5px !important;
  font-size: 22px !important;

  &:hover {
    transform: rotate(0deg) scale(1.2) !important;
  }
}

.form-container{
  margin-left: 1rem;
}

.stars-driver {
  margin-top: 0.3rem;
}

.no-rating-block {
  font-size: 1rem;
}