<div class="card">
  <div id="small-map"></div>

  <div style="display:block;justify-content: center;">

    <table style="display:flex; font-size: 20px; margin-top: 1rem; justify-content: center;">

      <tr>
        <td nowrap="nowrap" style="padding: 0 1rem;">  {{ startPoint }}</td>
        <td nowrap="nowrap" ><mat-icon>arrow_right_alt</mat-icon></td>
        <td nowrap="nowrap" style="padding: 0 1rem;">{{ endPoint }}</td>
      </tr>
    </table>

    <div style="display:flex; justify-content: center; align-items:center">
      <button mat-raised-button class="btn" style="margin-left: 1rem; margin-right: 1rem">Request now</button>
      <button mat-raised-button class="btn">Request later</button>

      <button
        mat-icon-button
        color="warn"
        (click)="removeFromFavouriteRoutes()"
        class="btn"
        style="margin-left: 1rem"
        >
        <mat-icon
          matTooltip="Remove from favourite routes"
          matTooltipClass="tooltip"
          matTooltipHideDelay="500"
          style="transform: scale(1.5);"
        >favorite
        </mat-icon>
      </button>

    </div>
  </div>

  <!--<mat-card-header class="center">
    <mat-card-title>
      <mat-stepper [linear]="true">
        <mat-step [label]="startPoint" matStepperIcon="location"></mat-step>
        <mat-step [label]="startPoint" state="location"> </mat-step>
        <ng-template matStepperIcon="location">
          <mat-icon>location_on</mat-icon>
        </ng-template>
      </mat-stepper>
    </mat-card-title>
  </mat-card-header>-->

<!--  <div class="center-div">mapaa</div>-->
<!--  <div class="right center">-->
<!--    <button-->
<!--      mat-icon-button-->
<!--      color="warn"-->
<!--      (click)="removeFromFavouriteRoutes()"-->
<!--      class="btn"-->
<!--      style="height: 30px; text-align: center">-->
<!--      <mat-icon-->
<!--        matTooltip="Remove from favourite routes"-->
<!--        matTooltipClass="tooltip"-->
<!--        matTooltipHideDelay="1000"-->
<!--        >favorite</mat-icon-->
<!--      ><br />-->
<!--      <button mat-raised-button class="btn">Request now</button><br />-->
<!--      <button mat-raised-button class="btn">Request later</button>-->
<!--    </button>-->
<!--  </div>-->
</div>
