<div *ngIf="userId" class="content">
    <div *ngFor="let route of favoriteRoutes; let i=index" (click)="goToDetails(route.id)">
        <div class="route-row">
            <table>
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <th>
                    <button
                        mat-icon-button
                        color="warn"
                        (click)="removeFromFavouriteRoutes(route.id)"
                        class="btn">
                            <mat-icon
                            matTooltip="Remove from favourite routes"
                            matTooltipClass="tooltip"
                            matTooltipHideDelay="500" style="transform: scale(1.5)"
                            >favorite
                            </mat-icon>
                    </button>
                </th>
                <th style="font-size:1.3rem;">
                    {{route.locations.at(0).location.street}} {{route.locations.at(0).location.number}}
                </th>
                <th class="aligner">
                    <mat-icon style="transform: scale(1.8);margin-right:0.5rem;">arrow_right_alt</mat-icon>
                </th>
                <th style="font-size:1.3rem;">
                    {{route.locations.at(route.locations.length - 1).location.street}} {{route.locations.at(route.locations.length - 1).location.number}}
                </th>
                
            </table>
        </div>
    </div>
    <div *ngIf="favoriteRoutes?.length < 1" class="no-content">
        <span>You don't have any favourite route.</span>
    </div>
</div>
