.form-container {
  padding: 1% 5%;
  margin-top: 1%;
}

.colomn {
    margin-top:1rem;
    margin-right: 2rem;
}

.password-colomn {
    margin-top:1rem;
    margin-right: 2rem;
    max-width: 46.4%;
}

h1 {
  margin-bottom: 1px;
}

