.card{
  padding: 20px;
  min-width: 22rem;
  border-radius: 1rem;
}

.btn{
  float: right;
}

.user-info-container {
  margin-left:1rem;
  display:block;
}

h1 {
  font-weight: 530;
  margin: 0;
}

.img-user {
  width: 6rem;
  height: 6rem;
}

.vehicle-stars {
  display: flex;
  margin-left: auto;
}
