.box{
  position: absolute;
  z-index: 99999;
  top: 0.1rem;
  left: 0.2rem;
  max-width: 30rem;
  background-color: rgb(245,233,222);
  padding: 1%;
  border-radius: 15px;
  overflow:hidden;
  clear: both;
}

#map {
  margin: 1%;
  height: 100%;
  z-index: 0;
}

.delete-location-button{
  color: #2c4b61;
}

.place-options{
  background-color: #b73e3e;
}
