<div>
  <button mat-raised-button [matMenuTriggerFor]="menu" class="sortBtn">Sort by</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="sortByPrice()">Price of driving</button>
    <button mat-menu-item>Date of driving</button>
  </mat-menu>
  <div *ngFor="let driving of drivings" class="div">
      <mat-card class="card">
          <mat-card-title class="line"><p>{{driving.route.startPoint.street}} {{driving.route.startPoint.number}}  </p> <mat-divider class="divider"></mat-divider> <p class="price">{{driving.route.destinations[driving.route.destinations.length-1].street}} {{driving.route.destinations[driving.route.destinations.length-1].number}}</p></mat-card-title>
          <br>
          <mat-card-subtitle><p>21.05.2022. 12:00</p>  <p class="date">21.05.2022. 12:15</p></mat-card-subtitle>
          <mat-card-content class="price">Price: {{driving.price}} din.</mat-card-content>
          <br>
          <br>
          <mat-card-actions>
            <button mat-raised-button (click) = "goToDetailsPage(driving.id)">Details</button>
            <button class="btn" mat-raised-button (click) = "openDialog()" [disabled]="isDisabledBtnRate(driving.started)">Rate</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>

