.form-container {
    display: block;
    max-width: 27rem;
    margin: auto;
    margin-top: 2.5rem;
    background-color: rgb(245,233,222);
    padding: 5%;
    border-radius: 15px;
    overflow:hidden;
    clear: both;
}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}

.colomn {
    margin-top:1rem;
    margin-right: 2rem;
}

.password-colomn {
    margin-top:1rem;
    margin-right: 2rem;
    max-width: 46.4%;
}

