.mat-form-field{
    margin-left: 10px;
}

form{
    background-color: lightblue;
    padding:20px;
}

.title{
    margin-left:150px;
    font-size:30px;
    color:white;
}

.subtitle{
    margin-left:150px;
    font-size:20px;
    color:white;
}

button{
    margin-left:160px;
}