<div class="form-container">
    <div *ngIf="userId && user; else noDataBlock">
        <app-basic-user-data [user]="user"></app-basic-user-data>
        <div *ngIf="userIsDriver()" class="rating">
            <app-user-average-rate *ngIf="userIsDriver()" [driverId]="user.id"></app-user-average-rate>
        </div>
        <mat-tab-group *ngIf="loggedUserIsAdmin() && userIsDriver()" mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Reviews">
                <app-reviews-history [userId]="user.id"></app-reviews-history>
            </mat-tab>
            <mat-tab label="Reports">
                <app-reports-history [userId]="user.id"></app-reports-history>
            </mat-tab>
        </mat-tab-group>
        <app-reviews-history *ngIf="userIsDriver() && !loggedUserIsAdmin() && user" [userId]="user.id"></app-reviews-history>
        <app-reports-history *ngIf="!userIsDriver() && loggedUserIsAdmin() && user" [userId]="user.id"></app-reports-history>
        <div *ngIf="loggedUserIsAdmin()" style="position: relative;">
            <button mat-raised-button class="green-button block-button" (click)="blockUser()">Block</button>
        </div>    
    </div>
    <ng-template #noDataBlock>
        <h2 class="center">There is nothing to show.</h2>
    </ng-template>
</div>
