<div id="content">

  <mat-icon (click)="goToDrivingDetails()" color=primary id="icon-details"
            matTooltip="Follow ride"
            matTooltipClass="tooltip"
            matTooltipHideDelay="1000"
  >chevron_right_outline</mat-icon>
  <br/>
  <div class="text-container" *ngIf="activeRide?.active"><b>Your active ride</b></div>
  <div class="text-container" *ngIf="!activeRide?.active"><b>Your future ride</b></div>
  <div class="spinner-div">
    <mat-progress-spinner class="spinner" color='accent' [mode]="'determinate'" [value]="activeRide?.minutes">
    </mat-progress-spinner>
    <h1 style="margin-left:6rem; margin-top: 2rem;">{{activeRide?.minutes}}min</h1>
  </div>
  <div style="display: flex; margin-top:3rem">
    <div class="flex-div">
      <div>
        <div class="text-container" style="font-size:1.1rem; color:var(--white)">Ride number</div>
        <div style="margin-top:0.5rem;" class="center text-container"><b>{{activeRide?.drivingId}}</b></div>
      </div>
    </div>
    <div class="flex-div" style="margin-left:2rem">
      <div>
        <div class="text-container" style="font-size:1.1rem; color:var(--white)">Cost</div>
        <div style="margin-top:0.5rem;" class="center text-container"><b>{{activeRide?.cost}}</b></div>
      </div>
    </div>
  </div>

</div>
