<mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar [src]="getBase64Prefix() + user.profilePicture">
      <mat-card-title>{{user.name}} {{user.surname}}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content >
        <div style="display:flex;">
        <mat-icon style="display:inline-flex">email</mat-icon>&nbsp;{{user.email}}
        </div>
        <br>
        <div style="display:flex;">
            <mat-icon style="display:inline-flex">phone</mat-icon>&nbsp;{{user.phoneNumber}}
            </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button class="btn" (click)="viewDrivings()">View drivings</button>
    </mat-card-actions>
  </mat-card>
