.card {
  max-width: 30%;
  min-height: 10rem;
  margin-top: 20px;
  margin-left: 25%;
  display: block;
  padding: 1.5rem;
  background-color: var(--gray);
  border-radius: 15px;
  justify-content: center;
}

.btn {
  margin-top: 0.8rem;
}

#small-map {
  height: 80% !important;
  z-index: 0 !important;
  max-width: 100%;
  min-height: 17rem;
}

.map-container {
  max-width: 90%;
  min-height: 10rem;

}
