.form-container {
    max-width: 18rem;
    margin-top: 6rem;
}
.email-container {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;
    padding-top: 1rem;
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    background-color: #abbbae7e;
}

.password-container {
    display: block;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}