<div *ngIf="drivingNotification" id="route-div" class="box mat-elevation-z1">
    <h1><b>Accept ride</b></h1>
    <app-driving-details-route
      [locations]="drivingNotification.route.locations"></app-driving-details-route>
    <br/>
    <vehicle-details [vehicle]="drivingNotification.vehicle"></vehicle-details>
    <br/>
    <app-driving-details-passengers
      [users]="drivingNotification.receivers"
      [base64Prefix]="base64Prefix"></app-driving-details-passengers>
    <div style="text-align: right">
      <h2>
        <b>={{ drivingNotification.price }}</b>
      </h2>
    </div>
  <div class="continue-buttons" *ngIf="!answered">
    <button mat-raised-button style="background-color: var(--white);color: var(--deep-blue);" (click)="rejectRide()">
      <strong>Reject</strong>
    </button>
    <button mat-raised-button style="margin-left:0.7rem;" (click)="acceptRide()">
      <strong>Accept</strong>
    </button>
  </div>
</div>
