<mat-card class="card">
  <div style="display:flex">
    <img mat-card-avatar class="img-user" [src]="getBase64Prefix() + user.profilePicture"
    (click)="goToUserProfile()" style="cursor: pointer;">
    <mat-card-content>
    <div class="user-info-container">
      <h1>{{user.name}} {{user.surname}}</h1>
      <div style="display:flex;margin-top:0.4rem">
        <mat-icon style="display:inline-flex">email</mat-icon>&nbsp;{{user.email}}
      </div>
      <div style="display:flex; margin-top:0.4rem">
        <mat-icon style="display:inline-flex">phone</mat-icon>&nbsp;{{user.phoneNumber}}
      </div>

    </div>
    </mat-card-content>

  </div>

    <mat-card-actions align="end">
        <button mat-raised-button class="btn" (click)="viewDrivings()">View drivings</button>
    </mat-card-actions>
</mat-card>
