<div class="form-container mat-elevation-z2">
    <h1 class="text-center">Profile page</h1>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Profile">
                <div class="center" style="display: flex;">
                    <div class="image-container">
                        <div class="center image-wrap">
                            <img (click)="showChangePhotoDialog()" [src]="getBase64Prefix() + loggedUser.profilePicture" alt="User's photo">
                        </div>
                        <p class="role-badge center"><b>{{getRole()}}</b></p>
                    </div>
                    <div class="profile-data">
                        <label><b>Email:</b>{{loggedUser.email}}</label>
                        <label><b>Name:</b>{{loggedUser.name}}</label>
                        <label><b>Surname:</b>{{loggedUser.surname}}</label>
                        <label><b>Phone:</b>{{loggedUser.phoneNumber}}</label>
                        <label><b>City:</b>{{loggedUser.city}}</label>
                    </div>
                </div>

                <div class="center margin-top">
                    <button mat-raised-button (click)="showEditProfileDialog()"
                        class="green-button">
                        Edit <mat-icon>edit</mat-icon>
                    </button>
                </div>

            </mat-tab>
            <mat-tab [label]="showPayments ? 'Password & payments' : 'Password'">
                <app-change-password></app-change-password>
            </mat-tab>
        </mat-tab-group>
</div>