.form-container {
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-width: 35rem;
    min-height: 20rem;
}       

.password-payments-content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.image-wrap {
    width: 150px;
    height: 150px;
}

div.profile-data h1 {
    font-size: 1.8rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

img.profile-img {
    margin-top: 20%;
    display: block;
    border-radius: 50%;
    width: 120px;
    max-height: 120px;
    height: auto;
    border: 2px solid var(--mint);
}

img.profile-img:hover {
    border: 5px solid var(--mint);
}

.role-badge {
    margin-top: 10%;
    background-color: var(--mint);
    font-size: 1.2rem;
    padding: 4px 8px;
    text-align: center;
    border-radius: 20px;
}

button {
    margin-top: 5%;
    margin-bottom: 5%;
}

label {
    margin-top: 10% !important;
}

div.image-container {
    margin-right: 15%;
}

div.profile-data {
    margin-right: 5%;
}

div.profile-data label {
    display: block;
    font-size: 1.5rem;
}

.icon-size {
    width: 1.3rem;
    height: 1.3rem;
}