<mat-card class="card">
    <mat-card-title class="line"><p>{{driving.route.startPoint.street}} {{driving.route.startPoint.number}}  </p> <mat-divider class="divider"></mat-divider> <p class="price">{{driving.route.destinations[driving.route.destinations.length-1].street}} {{driving.route.destinations[driving.route.destinations.length-1].number}}</p></mat-card-title>
    <br>
    <mat-card-subtitle><p>{{driving.started|date :'dd.MM.yyyy. hh:mm'}}</p>  <p class="date">{{endDrivingDate(driving.started, driving.duration) |date :'dd.MM.yyyy. hh:mm'}}</p></mat-card-subtitle>
    <mat-card-content class="price">Price: {{driving.price}} din.</mat-card-content>
    <br>
    <br>
    <mat-card-actions>
      <button mat-raised-button (click) = "goToDetailsPage(driving.id)">Details</button>
      <button class="btn" *ngIf="user.role.name === 'ROLE_REGULAR_USER' && isDisabledBtnRate(driving.started,driving.duration)" mat-raised-button (click) = "openDialog(driving.id)">Rate</button>
    </mat-card-actions>
</mat-card>
