<mat-card class="card">
  <mat-card-title class="line"
    ><p>
      {{ driving.route.locations.at(0).location.street }}
      {{ driving.route.locations.at(0).location.number }}
    </p>
    <mat-divider class="divider"></mat-divider>
    <p class="price">
      {{
        driving.route.locations.at(driving.route.locations.length - 1).location
          .street
      }}
      {{
        driving.route.locations.at(driving.route.locations.length - 1).location
          .number
      }}
    </p>
  </mat-card-title>
  <br />
  <mat-card-subtitle
    ><p>{{ driving.started | date: 'dd.MM.yyyy. HH:mm' }}</p>
    <p class="date">
      {{
        endDrivingDate(driving.started, driving.duration)
          | date: 'dd.MM.yyyy. HH:mm'
      }}
    </p></mat-card-subtitle
  >
  <mat-card-content class="price"
    >Price: {{ driving.price }} din.</mat-card-content
  >
  <br />
  <br />
  <mat-card-actions>
    <button mat-raised-button (click)="goToDetailsPage(driving.id)">
      Details
    </button>
    <button
      class="btn"
      *ngIf="
        user.role.name === 'ROLE_REGULAR_USER' &&
        isDisabledBtnRate(driving.started) &&
        !driving.hasReviewForUser
      "
      mat-raised-button
      (click)="openDialog(driving.id)">
      Rate
    </button>
  </mat-card-actions>
</mat-card>
