<form [formGroup]="rideRequestForm">
  <div *ngIf="driving" id="route-div" class="box mat-elevation-z1">
    <div style="display: flex; flex-direction: row">
      <h1 *ngIf="router.url.includes('favourite-route')">Favourite route</h1>
      <div
        *ngIf="
          !canAcceptOrDeclineRide() &&
          storedDrivingNotification?.drivingStatus !== 'PAYING' &&
          !router.url.includes('favourite-route')
        "
        style="display: flex; flex-direction: row">
        <h1 style="margin-top: 0.3rem; margin-right: 0.2rem">
          <b>Driving</b>
        </h1>

        <button
          *ngIf="isRegularUser"
          mat-icon-button
          color="warn"
          (click)="setFavouriteRoute(favouriteRoute)">
          <mat-icon
            *ngIf="!favouriteRoute"
            matTooltip="Add to favourite routes"
            matTooltipClass="tooltip"
            matTooltipHideDelay="1000"
            class="icon"
            >favorite_border</mat-icon
          >
          <mat-icon
            *ngIf="favouriteRoute"
            matTooltip="Remove from favourite routes"
            matTooltipClass="tooltip"
            matTooltipHideDelay="1000"
            class="icon"
            >favorite</mat-icon
          >
        </button>
      </div>
      <h1
        *ngIf="
          canAcceptOrDeclineRide() &&
          storedDrivingNotification?.drivingStatus !== 'PAYING' &&
          !router.url.includes('favourite-route')
        ">
        <b>Accept ride</b>
      </h1>
      <div
        *ngIf="indexOfVehicleForDriving >= 0 && driving.active && isRegularUser"
        style="margin-left: 10rem">
        <h2
          style="
            border: 2px solid var(--deep-blue);
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            border-radius: 5px;
          "
          id="minutes">
          <b> {{ getTime() }}</b>
        </h2>
      </div>
    </div>
    <br />
    <div>
      <app-driving-details-route
        *ngIf="storedDrivingNotification?.drivingStatus !== 'PAYING'"
        [locations]="driving.route.locations"></app-driving-details-route>
    </div>
    <app-driving-details-actions
      [favouriteRoute]="favouriteRoute"
      [driver]="driver"
      (setFilterVehicleViewEvent)="showFilterVehicleView($event)"
      [driving]="driving"
      *ngIf="
        !storedDrivingNotification ||
        storedDrivingNotification.drivingStatus === 'FINISHED' ||
        storedDrivingNotification.justFinished
      "></app-driving-details-actions>
    <app-filter-vehicle-view
      *ngIf="
        filterVehicleView &&
        storedDrivingNotification?.drivingStatus === 'FINISHED'
      "
      [requestLater]="requestLater"></app-filter-vehicle-view>
    <app-waiting-for-accept-ride-container
      *ngIf="
        storedDrivingNotification &&
        !storedDrivingNotification?.active &&
        storedDrivingNotification?.drivingStatus === 'PAYING'
      "></app-waiting-for-accept-ride-container>
    <div
      *ngIf="
        !router.url.includes('favourite-route') &&
        !filterVehicleView &&
        !requestLater &&
        storedDrivingNotification?.drivingStatus !== 'PAYING'
      "
      style="margin-top: 1rem">
      <vehicle-details [vehicle]="driver?.vehicle"></vehicle-details>
      <br />
      <app-driving-details-driver
        *ngIf="!isDriver"
        [driver]="driver"
        [base64Prefix]="base64Prefix"></app-driving-details-driver>
      <br />
      <app-driving-details-passengers
        *ngIf="!isRegularUser"
        [users]="driving.users"
        [base64Prefix]="base64Prefix"></app-driving-details-passengers>
      <div
        *ngIf="
          isRegularUser &&
          storedDrivingNotification.wrongRoute &&
          storedDrivingNotification.drivingStatus === 'ACCEPTED' &&
          storedDrivingNotification.active
        ">
        <button
          mat-raised-button
          (click)="reportDriveBehaviour()"
          style="
            float: left;
            border: 1px solid var(--red);
            color: var(--red);
            background-color: transparent;
            margin-bottom: 0.5rem;
          ">
          <mat-icon>report_problem</mat-icon>Report
        </button>
      </div>

      <div
        style="
          float: right;
          font-size: 1.7rem;
          display: flex;
          flex-direction: row;
          margin-top: 0.2rem;
        ">
        <b>= {{ driving.price }}</b>
        <mat-icon class="token-icon">payments</mat-icon>
      </div>
    </div>
  </div>
</form>
