<div *ngIf="driving" id="route-div" class="box mat-elevation-z1">
  <h1 *ngIf="!canAcceptOrDeclineRide()"><b>Driving</b></h1>
  <h1 *ngIf="canAcceptOrDeclineRide()"><b>Accept ride</b></h1>
  <app-driving-details-route
    [locations]="driving.route.locations"></app-driving-details-route>
  <br />
  <app-driving-details-actions
    [favouriteRoute]="favouriteRoute"
    (setFavouriteRouteEvent)="
      setFavouriteRoute($event)
    "></app-driving-details-actions>
  <br />
  <vehicle-details [vehicle]="driver?.vehicle"></vehicle-details>
  <br />
  <app-driving-details-driver
    *ngIf="!isDriver"
    [driver]="driver"
    [base64Prefix]="base64Prefix"></app-driving-details-driver>
  <br />
  <app-driving-details-passengers
    *ngIf="!isRegularUser"
    [users]="driving.users"
    [base64Prefix]="base64Prefix"></app-driving-details-passengers>
  <div style="text-align: right">
    <h2>
      <b>={{ driving.price }}</b>
    </h2>
  </div>
  <p id="pera"></p>
  <!-- <div class="spinner-div">
    <mat-progress-spinner class="spinner" color='accent' [mode]="'determinate'" [value]="activeRide.minutes">
    </mat-progress-spinner>
    <h1 style="margin-left:6rem; margin-top: 2rem;" id="minutes"></h1>
  </div> -->
</div>
