.form-container {
    display: block;
    max-width: 27rem;
    margin: auto;
    margin-top: .5rem;
    background-color: rgba(171, 187, 174, 0.411);
    padding: 5%;
    border-radius: 15px;
    overflow:hidden;
    clear: both;
}

.mat-checkbox {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.vehicle-type-option {
    display: block !important;
    background-color: #f5e9de;
    border-radius: 15px;
    max-width: 27rem;
    margin: auto;
    margin-top: .5rem;
}



    .product-item-content {
        height: 5.5rem;
        width: 6rem;
        border: 2px solid;
        border-radius: 15px;
        background-color: #f5e9de;
        margin: .3rem;
        padding: 0.1rem;
        padding-left: 0.9rem;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

