<div>
    <h2><b>We want to make sure that it's you. <br>Please make sure that you entered current password!</b></h2>
    <form color="primary" [formGroup]="changePassForm">
        <div>
            <div>
                <mat-form-field class="password-colomn" appearance="fill">
                    <mat-label>Current password</mat-label>
                    <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPasswordFormControl"
                        [errorStateMatcher]="matcher" placeholder="Enter current password" autofocus>
                    <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideOldPassword">
                        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePassForm.get('oldPasswordFormControl').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <a href="/forgot-password" class="link">Forgot password?</a>
            </div>
            

            <div style="display: flex; gap: 30px;">
                <mat-form-field class="password-colomn" appearance="fill">
                    <mat-label>New password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordFormControl"
                        [errorStateMatcher]="matcher" placeholder="Enter password">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePassForm.get('passwordFormControl').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="password-colomn" appearance="fill">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                        formControlName="passwordAgainFormControl" [errorStateMatcher]="matcher"
                        placeholder="Enter confirm password">
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="changePassForm.get('passwordAgainFormControl').hasError('required')">
                        Confirm password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="changePassForm.get('passwordAgainFormControl').hasError('mismatch')">
                        Passwords are not match
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="center margin-top">
            <button class="green-button" mat-raised-button (click)="changePassword()" [disabled]="checkValidForm()">
                Change
            </button>
        </div>
    </form>
</div>
