<div class="allDrivings"  *ngIf="drivings.length !== 0">
  <div class="sortDiv">
    <div>
      <label id="sort-order-radio-group-label">Pick sort order</label>
      <mat-radio-group
        aria-labelledby="sort-order-radio-group-label"
        class="example-radio-group">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let order of sortOrder; let i = index"
          [value]="i"
          [checked]="i === 0"
          (change)="selectSortOrder(order.name)">
          {{ order.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>

    <div class="sortByDiv">
      <label id="sort-radio-group-label">Sort by</label>
      <mat-radio-group
        aria-labelledby="sort-radio-group-label"
        class="example-radio-group">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let sort of sortBy"
          [value]="sort.name"
          [checked]="sort.checked"
          (change)="selectSort(sort.name)">
          {{ sort.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div *ngFor="let driving of drivings; let i = index" class="div">
    <driving-row
      [driving]="driving"
      [user]="currentUser"></driving-row>
  </div>

    <app-pagination class="paginator" [totalPages]="totalPages" [currentPage]="currentPage"
    (onPageSelected)="changePage($event)" *ngIf="drivings.length>0">
  </app-pagination>
</div>

<util-message
message="User don't have any drivings."
*ngIf="drivings.length === 0"></util-message>
