@import "~leaflet/dist/leaflet.css" ;
@import "~leaflet-geosearch/dist/geosearch.css";
html, body { height: 100%}
body { margin: 0; font-size: 1rem; background-color: var(--blue); color: var(--blue);}

:root {
    --mint: rgba(171, 187, 174, 0.411);
    --blue: #2c4b61;
    --red: #b73e3e;
    --cream: rgb(245, 233, 222);
}

