<div class="mat-elevation-z3" *ngIf="possibleRoutesViaPoints.length > 0">
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    aria-label="Options"
    class="options-button">
    Options
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="chooseFastestRoute()"
      style="background-color:var(--gray); !important;color: var(--deep-blue)">
      <mat-icon>access_time</mat-icon>
      <span>Fastest route</span>
    </button>
    <button
      mat-menu-item
      (click)="chooseShortestRoute()"
      style="background-color:var(--gray); !important; color: var(--deep-blue)">
      <mat-icon>map</mat-icon>
      <span>Shortest route</span>
    </button>
  </mat-menu>
</div>

<div *ngIf="possibleRoutesViaPoints.length > 0" class="devider-container">
  <div class="devider-line"><mat-divider></mat-divider></div>
  <div class="devider-text mat-typography"><b>Possible routes</b></div>
  <div class="devider-line"><mat-divider></mat-divider></div>
</div>

<div *ngIf="possibleRoutesViaPoints.length > 0" class="viewport">
  <div *ngFor="let possibleRoute of possibleRoutesViaPoints; let i = index">
    <h2 style="margin-left: 0.7rem">
      <strong>
        {{ getFromToLabel(i) }}
        <mat-icon>arrow_right_alt</mat-icon>
        {{ getFromToLabel(i + 1) }}
      </strong>
    </h2>
    <p-carousel
      [value]="possibleRoute.possibleRouteDTOList"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-route pTemplate="item">
        <div>
          <div class="product-item-content">
            <div style="position: relative">
              <route-row
                [route]="route"
                (click)="
                      changeOptionRouteOnClick(
                        route,
                        possibleRoute.possibleRouteDTOList.indexOf(route),
                        i
                      )
                    "></route-row>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <mat-divider></mat-divider>
  </div>
</div>
