<h1 mat-dialog-title>Rate driver and vehicle</h1>
<div mat-dialog-content class="content">
  <!--zvezdice treba 2 para zvezdica i za driver-a i za vehicle, to ce ti biti promenljvie ratingVehicle i ratingDriver, sada su trenutno setovane na 5 i 0-->
  <textarea
    matInput
    rows="4"
    placeholder="Enter a comment..."
    [(ngModel)]="message"></textarea>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelBtn()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="confirm()">Confirm</button>
</div>
