<div class="row smaller-row average-rate-content">
    <div style="padding: 3%;">
        <h2>Rating & reviews</h2>
        <div style="display: flex;">
            <div class="average-rate">
                {{driver?.rate}}
            </div>
            <div class="stars">
                <span>
                    <mat-icon>person</mat-icon>
                    <ngx-stars *ngIf="driver && driver?.rate > 0; else noDriverReview" [readonly]="true" customSize="1.5rem" [initialStars]="driver.rate" color="#283b50"></ngx-stars>
                    <ng-template #noDriverReview class="not-rated">
                        <div class="not-rated">Not yet rated</div>
                    </ng-template>
                </span>
                <span>
                    <mat-icon>directions_car</mat-icon>
                    <ngx-stars *ngIf="driver && driver?.vehicle.rate > 0; else noVehicleReview" [readonly]="true" customSize="1.5rem" [initialStars]="driver.vehicle.rate" color="#283b50"></ngx-stars>
                    <ng-template #noVehicleReview>
                        <div class="not-rated">Not yet rated</div>
                    </ng-template>
                </span>
            </div>
        </div>
    </div>
</div>
