<div class="statistics-content">
    <div class="row">
        <div class="column">
            <p class="knob-title">Money<br>spent</p>
            <p-knob [size]="110" [valueTemplate]="getTotalAmountMoney()" [(ngModel)]="totalAmountMoneySpent" [max]="getMaxValueMoneySpent()" [readonly]="true" valueColor="#1E90FF" textColor="var(--deep-blue)" rangeColor="var(--gray-transparent)"></p-knob>
        </div>
        <div class="column">
            <p class="knob-title">Tokens<br>bought</p>
            <p-knob [size]="110" [valueTemplate]="getTotalAmountTokensBought()" [(ngModel)]="totalAmountTokenBought" [max]="getMaxValueTokenBought()" [readonly]="true" valueColor="#1E90FF" textColor="var(--deep-blue)" rangeColor="var(--gray-transparent)"></p-knob>
        </div>
        <div class="column">
            <p class="knob-title">Tokens<br>spent ratio</p>
            <p-knob [size]="110" [valueTemplate]="getTokenSpendingRation()" [(ngModel)]="totalAmountTokenSpent" [max]="getMaxValueTokenBought()" [readonly]="true" valueColor="#1E90FF" textColor="var(--deep-blue)" rangeColor="var(--gray-transparent)"></p-knob>
        </div>
    </div>
</div>
